@font-face {
  font-family: 'Montserrat';
  src: url('fonts/MontserratBlackItalic-x3728.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('fonts/Exo-VariableFont_wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: Montserrat;
  font-style: italic;
  background-color: black;
}

.header {
  font-size: 10em;
  margin-top: 20%;
  text-align: center;
  color: white;
}

.header span:first-of-type {
  color: red;
}

.fades {
  font-family: 'exo';
  color: white;
  font-size: 1.5em;
}

/* ================================================ */
/*      	   	Styling fading letters  							*/
/* ================================================ */
/* ====Nederlandse rappers hebben een crimineel verleden==== */
#p1 {
  position: absolute;
  margin-left: 40em;
  margin-top: -8em;
  animation: fade1 infinite 3s;
}

@keyframes fade1 {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }

  80% {
    opacity: 90%;
  }

  90% {
    opacity: 50%;
  }

  100% {
    opacity: 0%;
  }
}

/* ====De Nederlandse rappers kunnen alleen maar rappen over geld==== */
#p2 {
  margin-left: 30em;
  margin-top: -13em;
  animation: fade2 infinite 4.5s;
}

@keyframes fade2 {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }

  80% {
    opacity: 90%;
  }

  90% {
    opacity: 50%;
  }

  100% {
    opacity: 0%;
  }
}

/* ====Nederlandse artiesten hebben oppervlakkige tekst==== */
#p3 {
  margin-left: 15em;
  margin-top: -8em;
  animation: fade3 infinite 3.5s;
}

@keyframes fade3 {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }

  80% {
    opacity: 90%;
  }

  90% {
    opacity: 50%;
  }

  100% {
    opacity: 0%;
  }
}

/* ===De Nederlandse rappers hebben geen respect voor vrouwen=== */
#p4 {
  margin-left: 1em;
  margin-top: 22em;
  animation: fade4 infinite 4.5s;
}

@keyframes fade4 {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }

  80% {
    opacity: 60%;
  }

  90% {
    opacity: 50%;
  }

  100% {
    opacity: 0%;
  }
}

/* ===Nederlandse rappers verdienen geld met drugs handel=== */
#p5 {
  margin-left: 1em;
  margin-top: -23em;
  animation: fade5 infinite 3.5s;
}

@keyframes fade5 {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }

  80% {
    opacity: 60%;
  }

  90% {
    opacity: 50%;
  }

  100% {
    opacity: 0%;
  }
}

/* ===Nederlandse rappers verheerlijken geweld=== */
#p6 {
  margin-left: 45em;
  margin-top: 12em;
  animation: fade6 infinite 4.5s;
}

@keyframes fade6 {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }

  80% {
    opacity: 60%;
  }

  90% {
    opacity: 50%;
  }

  100% {
    opacity: 0%;
  }
}

/* ===Ze kunnen alleen maar rappen over dure kleding=== */
#p7 {
  margin-left: 40em;
  margin-top: 8em;
  animation: fade7 infinite 3.5s;
}

@keyframes fade7 {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }

  80% {
    opacity: 60%;
  }

  90% {
    opacity: 50%;
  }

  100% {
    opacity: 0%;
  }
}

/* ===De rappers zijn materialistisch=== */
#p8 {
  margin-left: 15em;
  margin-top: -13em;
  animation: fade8 infinite 5.5s;
}

@keyframes fade8 {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }

  80% {
    opacity: 60%;
  }

  90% {
    opacity: 50%;
  }

  100% {
    opacity: 0%;
  }
}

/* ===Bij 101Barz moedigen ze criminaliteit aan=== */
#p9 {
  margin-left: 3em;
  margin-top: -22em;
  animation: fade9 infinite 4.5s;
}

@keyframes fade9 {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }

  80% {
    opacity: 60%;
  }

  90% {
    opacity: 50%;
  }

  100% {
    opacity: 0%;
  }
}

/* ===De artiesten bij 101Barz zijn ex criminelen=== */
#p10 {
  margin-left: 30em;
  margin-top: -5em;
  animation: fade10 infinite 3.5s;
}

@keyframes fade10 {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }

  80% {
    opacity: 60%;
  }

  90% {
    opacity: 50%;
  }

  100% {
    opacity: 0%;
  }
}

/* ========Einde fades=========== */
/* ================================================ */
/*      	      	Styling downwards  		  					*/
/* ================================================ */
#downwards {
  max-width: 4em;
  fill: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 56vh;
}

#downwards:hover {
  fill: red;
  transition: ease 0.5s;
  margin-top: 57vh;
}

/* ========Einde downwards=========== */
